MeuPrimeiroApp/MeuPrimeiroApp/MeuPrimeiroApp/bin
MeuPrimeiroApp/MeuPrimeiroApp/MeuPrimeiroApp/obj
MeuPrimeiroApp/MeuPrimeiroApp/MeuPrimeiroApp.Android/bin
MeuPrimeiroApp/MeuPrimeiroApp/MeuPrimeiroApp.Android/obj
MeuPrimeiroApp/MeuPrimeiroApp/MeuPrimeiroApp.iOS/bin
MeuPrimeiroApp/MeuPrimeiroApp/MeuPrimeiroApp.iOS/obj